
* {
    margin: 0;
    padding: 0;
    
    font-family: Arial, sans-serif;
}




header {
    background-color: #00a3d6;
    color: white;
   padding: 20px;
    text-align: left;
    
}

header h1 {
    
    font-size: 36px;
    font-weight: bold;
}





nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    justify-content:end;
    text-align: right;
}




.banner {
    background-color: #0093b6;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.banner h1 {
    font-size: 48px;
}

.banner p {
    font-size: 20px;

}


.service {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
    
}

.service h1 {
    font-size: 36px;
   
}

.service p {
    font-size: 16px;

    color: #666;
}

.container, .container1 {
    display: flex;
    justify-content: space-around;
   
    
}

.container div, .container1 div {
    background-color: #eaf3f9;
   
    width: 100%;
    
    padding: 20px;
    text-align: center;
   

}






h2 {
   
    color: #00a3d6;
    font-size: 28px;
}
   
